body {
    background-color: hsl(204, 72%, 21%) !important;
}

#container-inputs {
    width: 600px;
    min-height: 600px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;

}

#div-result {
    min-height: 300px;
    padding: 40px;
}

select.select-class {
    outline: none !important;
    background-color: hsl(204, 72%, 21%) !important;
    border: solid thin rgb(230, 196, 47) !important;

    outline : none;
    overflow : hidden;
    text-indent : 0.01px;
    text-overflow : '';
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;

}